/* 
* extended version of: https://codepen.io/arjentienkamp/pen/MYpYMO?q=tinder&limit=all&order=popularity&depth=everything&show_forks=false
* and: https://codepen.io/sdnyco/pen/wardxd?q=tinder&limit=all&type=type-pens
*/

.phone {
	width: 350px;
	height: 600px;
	font-family: 'Noto Sans', sans-serif;
	background: url(http://web.arjentienkamp.com/codepen/tinder/iphone.png);
	background-size: 382px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	padding-top: 7em;
	padding-left: 3.2em;
}

.app {
	width: 285px;
	height: 490px;
	background-color: #FFF;
	padding-top: 12px;
	position: relative;
}

.content {
	padding: 10px;
	padding-top: 0px;
}

.header {
	background-color: #FFF;
	width:100%;
	height:40px;
	border-bottom: 1px solid #e2e2e2;
	text-align: center;
	margin-bottom: 10px;
}

.header img {
	width:70px;
}

div.photo {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  height: 340px;
  border: 1px solid #a6a9aa;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 7px 0px #cfcfcf;
}

span.meta {
  display: block;
  height: 65px;
  margin-top: 260px;
  border-radius: 0px 0px 8px 8px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 12px;
  color: #fff;
}

span.meta p:first-child {
  font-size: 23px;
  font-weight: 700;
  float: none;
}

span.meta p:last-child {
  font-size: 16px;
  font-weight: 400;
  float: none;
}

span.meta span {
	float: right;
	color:#cfcfcf;
}

.users {
	display: block;
	width: 20px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/users.png);
	background-size: 20px;
	background-repeat: no-repeat;
	padding-left: 30px;
	background-position: 5px;
}

.moments {
	display: block;
	width: 14px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/moments.png);
	background-size: 26px;
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: 5px;
}

.chat {
	display: block;
	width: 34px;
	height: 30px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/chat.png);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 4px;
	background-position: 5px;
	float: right;
	margin-top: 0px;
}

.settings {
	display: block;
	width: 34px;
	height: 30px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/settings.png);
	background-size: 30px;
	background-repeat: no-repeat;
	padding-left: 4px;
	background-position: 5px;
	float: left;
	margin-top: 0px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 341px;
  width: 100%;
  padding-left: 57px;
  padding-top: 6px;
}

.rate {
  width: 60px;
  height: 60px;
  border-radius: 76px;
  float: left;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.rate:hover {
  cursor: pointer;
}

.rate:nth-child(1) {
  margin-left: 4px;
  background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 45px;
}

.rate:last-child {
	margin-left: -4px;
	background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
}

p {
	padding:0;
	margin:0;
	float: left;
}

.pulse {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border: 2px solid #d61f26;
  border-radius: 50%;
  -webkit-animation: pulse 1.4s ease-out 0.5s infinite;
          animation: pulse 1.4s ease-out 0.5s infinite;
}

.loader .pulse, .loader .pulse-center {
  display: none;
}

.pulse-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: orange;
  width: 100px;
  height: 100px;
  background: #2F3233;
  border-radius: 50%;
}
.pulse-center img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@-webkit-keyframes pulse {
  0% {
    width: 100px;
    height: 100px;
    background: #d61f26;
    border: 2px solid #d61f26;
  }
  80% {
    width: 180px;
    height: 180px;
    background: #f7cacb;
    border: 2px solid #d61f26;
  }
  100% {
    width: 200px;
    height: 200px;
    background: transparent;
    border: 2px solid transparent;
  }
}

@keyframes pulse {
  0% {
    width: 100px;
    height: 100px;
    background: #d61f26;
    border: 2px solid #d61f26;
  }
  80% {
    width: 180px;
    height: 180px;
    background: #f7cacb;
    border: 2px solid #d61f26;
  }
  100% {
    width: 200px;
    height: 200px;
    background: transparent;
    border: 2px solid transparent;
  }
}
